body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #ccc;
  margin: 0;
  padding: 0;
}

.topbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.topbar-left h1 {
  margin: 0;
  color: #fff;
}

.topbar-center {
  flex-grow: 1;
}

.topbar-search {
  display: flex;
  align-items: center;
}

.topbar-search input {
  padding: 5px;
  margin-left: 5px;
}

.menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #444;
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}

.menu.active {
  right: 0; 
}

.menu-center {
  display: flex;
  flex-direction: column;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s;
  color: #00BFFF;
}

.menu-item:hover {
  background-color: #555;
}

.content {
  flex: 1;
  padding: 20px;
  padding-bottom: 80px;
  text-align: center;
}

h2 {
  color: #fff;
  margin-bottom: 10px;
}

.highlight {
  font-weight: bold;
  color: #ffd700;
}

.login-form {
  margin-top: 20px;
}

.login-form input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

.login-form button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.service-item {
  background-color: #444;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s;
  width: 80%; 
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item i {
  font-size: 30px;
  color: #00BFFF; 
}

.service-item h3 {
  color: #FFD700; 
  margin: 10px 0;
}

.service-item p {
  color: #ccc;
}
.warning {
  background-color: #ffcc00; 
  color: #333; 
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}



.highlight-image {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin: 10px 0;
}

.input-group input,
.input-group textarea {
  padding: 10px;
  width: 300px;
}

.button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.mission {
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.mission h3 {
  color: #fff;
}

.mission p {
  color: #ccc;
}

.team-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.team-images img {
  border-radius: 10px;
  margin: 0 10px;
  width: 200px;
  height: 200px;
}

.team-images img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 25px;
  margin-right: 10px;
}

.option-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option-button:hover {
  background-color: #0056b3;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  transition: transform 0.3s ease;
}

.line {
  height: 3px;
  width: 25px;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburger.active .line-1 {
  transform: rotate(45deg);
  transform-origin: top left;
}

.hamburger.active .line-2 {
  opacity: 0;
}

.hamburger.active .line-3 {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.menu {
  display: none;
}

.menu.active {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .team-images {
    flex-direction: column;
  }

  .team-images img {
    width: 150px;
    height: 150px;
  }

  .input-group input,
  .input-group textarea {
    width: 90%;
  }
}
